




img,
svg {
  max-width: 100%;
  /* [2] */
  height: auto; }
  img[width], img[height],
  svg[width],
  svg[height] {
    /* [4] */
    max-width: none; 
  }

img {
  font-style: italic;
  /* [4] */ 
}



h2, .o-h2 {
  font-size: 2rem; }

h3, .o-h3 {
  font-size: 1.5rem; }




.o-scroll {
  width: 100%;
  background-color:  #ffffff;
  cursor: default; }

